#intro {
    background-image: url("https://img.freepik.com/premium-photo/manager-holding-briefing-presentation-conference-room-monitor-project-corporate-staff-discussing-new-business-application-with-colleagues-looking-screen_482257-14678.jpg?w=740");
    height: 100vh;
}
#intro2 {
    background-image: url("https://img.freepik.com/premium-photo/team-young-african-people-office-table-with-laptop_219728-4561.jpg?w=740");
    height: 100vh;
}

.main i, .main p{
    padding-bottom: 20px;
}

